$black: #121212;
$dark-blue: #19202D;
$white: #FFFFFF;
$grey-100: #E7EAEE;
$grey-200: #CFCFCF;
$grey-400: #676D7E;
$grey-500: #48556A;
$purple-50: #EDE4FF;
$purple-300: #A775F1;
$purple-500: #733FC8;
