@use 'fonts';
@use 'colors';


* {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main > article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "card-1 card-1 card-2 card-5"
  "card-3 card-4 card-4 card-5";

  .card-1 {
    background-color: colors.$purple-500;
  }
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;


  .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .body-heading {
      @include fonts.text-preset-1;
      color: colors.$white;
    }

    .body-copy {
      @include fonts.text-preset-3;
      color: colors.$white;
    }
  }


  .card-header {
    display: flex;
    gap: 1rem;

    .person-details {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .person-name {
        @include fonts.text-preset-2;
        color: colors.$white;
      }

      .person-tag {
        @include fonts.text-preset-4;
        color: colors.$purple-50;
      }
    }

    .profile-image {
      border: 2px solid #A775F1;
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }


  }
}
