@use 'fonts';
@use 'colors';


* {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main > article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "card-1 card-1 card-2 card-5"
  "card-3 card-4 card-4 card-5";

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
  }

  .card-4 {
    grid-area: card-4;
  }

  .card-5 {
    grid-area: card-5;
  }


}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
  color: colors.$white; // default text color; inherited by all text below


  .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .body-heading {
      @include fonts.text-preset-1;
    }

    .body-copy {
      @include fonts.text-preset-3;
    }
  }


  .card-header {
    display: flex;
    gap: 1rem;

    .person-details {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .person-name {
        @include fonts.text-preset-2;
      }

      .person-tag {
        @include fonts.text-preset-4;
        color: colors.$purple-50;
      }
    }

    .profile-image {
      border: 2px solid #A775F1;
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }


  }
}


main > article {

  .card-1 {
    background-color: colors.$purple-500;

    .person-name {
      color: colors.$white;
    }

    .person-tag {
      color: colors.$purple-50;
    }

    .body-copy {
      color: colors.$purple-50;
    }

  }

  .card-2 {
    background-color: colors.$grey-500;

    .person-name {
      color: colors.$white;
    }

    .person-tag {
      color: colors.$grey-100;
    }

    .body {
      .body-copy {
        color: colors.$grey-100;
      }
    }
  }

  .card-3 {
    background-color: colors.$white;

    .person-name {
      color: colors.$grey-500;
    }

    .person-tag {
      color: colors.$grey-400;
    }

    .body {
      .body-heading {
        color: colors.$grey-500;
      }

      .body-copy {
        color: colors.$grey-400;
      }
    }
  }

  .card-4 {
    background-color: colors.$dark-blue;

    .person-details {
      color: colors.$white;
    }

    .body-heading {
      color: colors.$grey-200;
    }

    .body-copy {
      color: colors.$grey-100;
    }
  }

  .card-5 {
    background-color: colors.$white;
    color: colors.$grey-500;

    .person-name, .body-heading {
      color: colors.$grey-500;
    }

    .person-tag, .body-copy {
      color: colors.$grey-400;
    }

  }

}
